include README.md
include LICENSE
include requirements.txt
include config/config.yaml
recursive-include scripts *
recursive-include docker *
recursive-include docs *
recursive-exclude * __pycache__
recursive-exclude * *.py[co]
recursive-exclude * .git
recursive-exclude * .gitignore
